.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.modal-content {
    background-color: var(--color-left-bar);
    border-radius: 15px;
    padding: 24px;
    width: 320px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.modal-header h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.modal-body {
    margin-bottom: 16px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-footer button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
}

.modal-footer button:first-child {
    background-color: var(--color-left-bar);
    color: var(--color-primary-text);
    border: 2px solid var(--color-border);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2.95px 2.6px;
}

.modal-footer button:last-child {
    background-color: #f00;
    color: #fff;
    border: 2px solid var(--color-border);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2.95px 2.6px;
}

@media (prefers-color-scheme: dark) {
    .modal-footer button:first-child {
        box-shadow: rgba(255, 255, 255, 0.15) 0px 0.95px 2.6px;
    }
    .modal-footer button:last-child {
        box-shadow: rgba(255, 255, 255, 0.15) 0px 0.95px 2.6px;
    }
}
