/*NOTE PAGE*/
.notes-page-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    display: flex;
    color: var(--color-primary-text);
}
.notes-page-left-bar-wrapper {
    width: 100%;
    max-width: 20rem;
    max-height: 100%;
    background-color: var(--color-left-bar);
    flex-shrink: 0;
    border-radius: 0px 40px 40px 0px;
    text-align: left;
    padding: 30px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.notes-page-logout-button {
    padding: 8px;
    background-color: var(--color-left-bar);
    border: 2px solid var(--color-border);
    color: var(--color-primary-text);
    width: 80px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2.95px 2.6px;
    cursor: pointer;
    transform: translateY(-50deg);
}
.notes-page-logout-button:hover {
    transform: scale(1.03);
}

.notes-page-create-folder-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: left;
}
.notes-page-create-folder-wrapper input {
    width: 5rem;
    background-color: var(--color-left-bar);
    border: 2px solid var(--color-border);
    border-radius: 7px;
    padding: 8px;
    color: var(--color-primary-text);
}
.notes-page-create-folder-wrapper button {
    padding: 8px;
    background-color: var(--color-left-bar);
    border: 2px solid var(--color-border);
    color: var(--color-primary-text);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2.95px 2.6px;
    cursor: pointer;
    transform: translateY(-50deg);
}
@media (prefers-color-scheme: dark) {
    .notes-page-create-folder-wrapper button {
        box-shadow: rgba(255, 255, 255, 0.15) 0px 0.95px 2.6px;
    }
    .notes-page-logout-button {
        box-shadow: rgba(255, 255, 255, 0.15) 0px 0.95px 2.6px;
    }
}
.notes-page-create-folder-wrapper button:hover {
    transform: scale(1.03);
}

.notes-page-note-list {
    flex-shrink: 0;
    max-width: 100%;
    height: 100%;
    max-height: 70%;
    overflow: scroll;
}
.notes-page-note-list li {
    border: 2px solid var(--color-border);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 3.95px 2.6px;
    border-radius: 5px;
    padding: 0px;
    max-width: fit-content;
    transform: translateY(-50deg);
    cursor: pointer;
    overflow: hidden;
}
@media (prefers-color-scheme: dark) {
    .notes-page-note-list li {
        box-shadow: rgba(255, 255, 255, 0.15) 0px 2.95px 2.6px;
    }
}
.notes-page-note-list-folder.selected {
    border: 2px solid var(--color-button-submit-bg);
}
.notes-page-note-list span {
    padding: 8px;
}
.notes-page-note-list li:hover {
    transform: scale(1.04);
}
.notes-page-note-list ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin-top: 6px;
    padding: 8px;
    padding-left: 12px;
}
.notes-page-note-list-ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.notes-page-note-list img {
    width: 20px;
    height: 20px;
}
.notes-page-note-list-li-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.notes-page-text-area-wrapper {
    flex: 1;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}
.notes-page-text-area-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    border: 0px solid var(--color-border);
    border-radius: 20px;
    overflow: auto;
}

.notes-page-notification-wrapper {
    transform: translateX(-50%);
    position: fixed;
    top: 40px;
    right: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    z-index: 100;
    border: 0px solid #1e90ff;
    border-radius: 10px;
    background-color: #add8e6;
    color: #1e90ff;
    animation: slideDown 0.35s ease-out forwards;
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translate(-50%, -120%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
.notes-page-notification-wrapper.exit {
    animation: slideUp 0.35s ease-in forwards;
}
@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -120%);
    }
}
.notes-page-notification-wrapper.add {
    background-color: #add8e6;
    color: #1e90ff;
}
.notes-page-notification-wrapper.save {
    background-color: #d0f0c0;
    color: #32cd32;
}
.notes-page-notification-wrapper.delete {
    background-color: #fbceb1;
    color: #f2003c;
}
.notes-page-notification-wrapper.empty {
    padding: 0px;
}

/*NOTE COMPONENT*/
.note-card-wrapper {
}
