.register-page-wrapper{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    color: var(--color-primary-text);
}

.register-page-form-wrapper{
    width: 30rem;
    height: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 0px solid #444444;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    font-size: large;
}
@media (prefers-color-scheme: dark){
    .register-page-form-wrapper{
        box-shadow: rgba(255, 255, 255, 0.1) 0px 3px 8px;
    }
}

.register-page-email-wrapper{
    width: 20rem;
    height: 2rem;
    position: relative;
}
.register-page-email-input{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background-color: var(--color-background);
    color: var(--color-secondary-text);
    font-size: medium;
}
.register-page-email-wrapper label{
    position: absolute;
    top: -10px;
    left: 15px;
    background-color: var(--color-background);
}


.register-page-password-wrapper{
    width: 20rem;
    height: 2rem;
    position: relative;
}
.register-page-password-input{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background-color: var(--color-background);
    color: var(--color-secondary-text);
    font-size: medium;
}
.register-page-password-wrapper label{
    position: absolute;
    top: -10px;
    left: 15px;
    background-color: var(--color-background);
}
   

.register-page-submit-button{
    width: 7rem;
    height: auto;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color-button-submit-bg);
    color: var(--color-button-submit-text);
    font-size: large;
    transition: transform 0.3s ease;
}
.register-page-submit-button:hover{
    transform: scale(1.05);
}