.tiptap-wrapper {
  margin: 3rem;
  border: 0px solid var(--color-border);
  border-radius: 6px;
  background: var(--color-background);
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.tiptap-title-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  position: relative;
}
.tiptap-title-wrapper button{

  transform: translate(-50deg);
}
.tiptap-title-wrapper button:hover{
  transform: scale(1.03);
}
.tiptap-close-button{
  background-color: var(--color-text-area);
  border: 1px solid var(--color-border);
  color: var(--color-primary-text);
  border-radius: 7px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 3.5rem;
  position: absolute;
  right: 0px;
  cursor: pointer;
  transform: translate(-50deg);
}
.tiptap-delete-button{
  background-color: var(--color-text-area);
  border: 1px solid var(--color-border);
  color: var(--color-primary-text);
  border-radius: 7px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 3.5rem;
  position: absolute;
  left: 0px;
  cursor: pointer;
  transform: translate(-50deg);
}
.tiptap-title-input{
  background-color: var(--color-text-area);
  border: 0px solid var(--color-border);
  border-radius: 15px;
  overflow: hidden;
  color: var(--color-primary-text);
  padding: 17px;
  margin-bottom: 20px;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

.tiptap-toolbar {
  display: flex;
  gap: 6px;
  padding: 15px;
  border-bottom: 0px solid var(--color-border);
  background: var(--color-text-area);
  border-radius: 20px;
  justify-content: center;
  width: fit-content;
}

.tiptap-toolbar button {
  padding: 6px 10px;
  border: 1px solid var(--color-border);
  background: var(--color-text-area);
  color: var(--color-primary-text);
  cursor: pointer;
  border-radius: 10px;
}

.tiptap-toolbar button:hover {
  background: var(--color-accent);
}

.editor-wrapper{
  flex: 1;
  width: 100%;
  overflow-y: auto;
  border-radius: 20px;
}

.ProseMirror {
    min-height: 300px;
    padding: 20px;
    outline: none;
    background-color: var(--color-text-area);
    border-radius: 20px;
    line-height: 1.6;
    font-size: 16px;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.ProseMirror p {
  margin: 0.5em 0;
}

.ProseMirror h1 {
  font-size: 1.8em;
}

.ProseMirror h2 {
  font-size: 1.4em;
}

.ProseMirror pre {
  background: var(--color-accent);
  color: var(--color-primary-text);
  padding: 12px;
  border-radius: 10px;
  overflow-x: auto;
}

.ProseMirror code {
  background: var(--color-accent);
  padding: 2px 4px;
  border-radius: 10px;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 20px;
}

.ProseMirror li {
  margin: 4px 0;
}

.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  color: #aaa;
  float: left;
  height: 0;
  pointer-events: none;
}
